---
import Layout from "../layouts/Layout.astro";
import ProfileCard from "../components/ProfileCard.astro";
import LinkButton from "../components/LinkButton.astro";
import Footer from "../components/Footer.astro";
import GitHub from "../components/icons/GitHub.astro";
import Twitter from "../components/icons/Twitter.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Mail from "../components/icons/Mail.astro";
import Link from "../components/icons/Link.astro";

const links = [
  {
    href: "https://302found.dev",
    label: "Website",
    icon: Link,
    class: " website",
  },
  {
    href: "https://github.com/302found3v-dotcom",
    label: "GitHub",
    icon: GitHub,
    class: " github",
  },
  {
    href: "https://twitter.com/302foundev",
    label: "Twitter",
    icon: Twitter,
    class: " twitter",
  },
  {
    href: "https://www.linkedin.com/in/302foundev",
    label: "LinkedIn",
    icon: LinkedIn,
    class: " linkedin",
  },
  {
    href: "mailto:jarscode.dev@outlook.com",
    label: "Email",
    icon: Mail,
    class: " email",
  },
];
---

<Layout title="hoobe - best link-tree">
  <section class="container">
    <ProfileCard
      name="@302found3v-dotcom"
      bio="Software Developer | C/C++ Enthusiast. ðŸš€"
      avatar="https://avatars.githubusercontent.com/u/181494272?s=400&u=98bba349e0cb1d5407c30bb720c5dcde4383a1e4&v=4"
    />

    <section class="links">
      {links.map((link) => <LinkButton {...link} />)}
    </section>

    <Footer footer="Made with â¤ï¸ by 302found3v-dotcom." />
  </section>
</Layout>
